<h2>Employees</h2>
<%= link_to "Add New Employee", new_employee_path(@employee) %>
<ul>
<% @employees.each do |employee| %>
  <br>Name: <%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %>
  <br>Title: <%= employee.title %>
  <br>Office: <%= employee.office %>
  <br>Dog: <%= link_to employee.dog.name, dog_path(employee.dog)%>
  <br><%= link_to "Edit", edit_employee_path(employee) %>
  <hr>
<% end %>
</ul>