<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<h2>aka: <%= @employee.alias %></h2>
<h2>Title: <%= @employee.title %></h2>
<h2>Office: <%= @employee.office %></h2>
<h2>Dog: <%= @employee.dog.name %></h2>