First Name:
<%=@employee.first_name%><br/>
Last Name:
<%=@employee.last_name%><br/>
Title:
<%=@employee.title%><br/>
Alias:
<%=@employee.alias%><br/>
Office:
<%=@employee.office%><br/>
 <p>📸<br>
    <img src="<%=@employee.img_url%>" height=300 ></p>