<h1><%= @dog.name %></h1>

<h4><%= @dog.breed %></h4>

<h4><%= @dog.age %></h4>

<ul>
  <% @dog.employees.each do |emp| %>
    <li>
      <%= emp.first_name %> <%= emp.last_name %>
    </li>  
  <% end %>
</ul>